@model List<System.Int32>


<nav aria-label="Page navigation">
    <ul class="pagination">
        @{
            <!-- initializing all required variables -->
            int prevPage = Model[0] - 1;
            int nextPage = Model[0] + 1;
            int maxPage = (Model[1] / 12) + 1;
            <!-- enabling and disabling previous when pagenumber = 1 -->
            if (Model[0] != 1)
            {
                <li class="enabled">
                    <a href="~/Product/List/@prevPage" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <span aria-hidden="true">&laquo;</span>
                </li>
            }
            <!-- show all pagenumbers dynamic -->
            for (int i = 1; i <= maxPage; i++)
            {
                if (i != Model[0])
                {
                    <li><a href="~/Product/List/@i">@i</a></li>
                }
                else
                {
                    <li class="active"><a href="#">@i<span class="sr-only">(current)</span></a></li>
                }
            }
            <!-- enabling and disabling previous when pagenumber = lastPage -->
            if (Model[0] != maxPage)
            {
                <li class="enabled">
                    <a href="~/Product/List/@nextPage" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="disabled">
                    <span aria-hidden="true">&raquo;</span>
                </li>
            }
        }
    </ul>
</nav>
