
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<div class="panel panel-success thankyou text-center"> <div class="panel-heading"> <h3 class="panel-title">Success!</h3> </div> <div class="panel-body">
    <h1>Thank you!</h1>
    <div><img src="~/Content/images/check.png"/></div>
    <p>Your transaction has been completed successfully</p>
    </div> </div>

