body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* ProductList */

#products .item {
    margin-top: 20px;
}

#products .item .caption {
    height: 300px;
}

#products .item .row {
    position: absolute;
    bottom: 10px;
}

#products .item img {
    width: 400px;
    height: 200px;
}


/* ProductList filter */

#ProductListFilter {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

#ProductListFilter #ProductNameFilter input[type="text"]{
    width: 80%;
}

#ProductListFilter input[type=submit]{
    display:block;
    clear:left;
    float:right;
}


#ProductListFilter #ProductLineFilter {
    margin-top: 10px;
}

#ProductListFilter .productline {
    float: left;
    margin-right: 10px;
}

